@{
    ViewBag.Title = "Bidster";
}

<div class="jumbotron text-center" style="background:transparent !important">
    <h2>Welcome to Bidster!</h2>
    <p class="lead">Bidster is a free web platform for real-time online bidding on various products.</p>
</div>

<img class="img-responsive center-block" src="~/Content/Images/real-time-bidding.jpg" alt="Bidding"/>