.main {
    margin-top: 70px;
}

h1.title {
    font-size: 50px;
    font-weight: 400;
}

.form-group {
    margin-bottom: 15px;
}

label {
    margin-bottom: 15px;
}

input, input::-webkit-input-placeholder {
    font-size: 11px;
    padding-top: 3px;
}

.main-center {
    margin-top: 30px;
    margin: 0 auto;
    max-width: 330px;
    padding 80px 150px
}

.login-button {
    margin-top: 5px;
}

.login-register {
    font-size: 11px;
    text-align: center;
}

.box {
    transition: all 0.2s ease;
    border: 2px dashed #dadada;
    margin-top: 10px;
    box-sizing: border-box;
    border-radius: 5px;
    background-clip: padding-box;
    padding: 0 20px 20px 20px;
    min-height: 340px;
}

.box:hover {
    border: 2px solid #525C7A;
}

.box .box-content {
    padding: 16px;
    border-radius: 0 0 2px 2px;
    background-clip: padding-box;
    box-sizing: border-box;
}

